<div mat-dialog-title>
    <div class="row">
        <div class="col">
            <b>Shopping List</b>
        </div>
        <div class="col">
            <p class="item-selected-price">Total: $ {{total_sum}}</p>
        </div>
    </div>
</div>

<!--
<i class="material-icons">shopping_cart</i>
-->
<mat-dialog-content class="modal-content">
    <div *ngFor="let item of menu_list_selected" class="item-container">
        <div class="row">
            <div class="col-auto">
                <button mat-button class="item-selected-button" (click)="removeButtonClick(item)">
                    <i class="material-icons">cancel</i>
                </button>
            </div>
            <div class="col-6 item-detail-container">
                <p class="item-selected-title">{{item.title}}</p>
                <p class="item-selected-price">$ {{item.price}}</p>
            </div>

        </div>



    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="button-close" cdkFocusInitial>Close</button>
    <button [mat-dialog-close]="true" class="confirm-button"><i class="material-icons">shopping_cart</i></button>
</mat-dialog-actions>