.mat-dialog-content {
    height: 70%;
    width: 100%;
    margin: 0;
    border-width: 0;
    padding: 0;
}

.item-container {
    display: block;
    margin-bottom: 5px;
}


.confirm-button {
    z-index: 100;
    position: relative;
    background-color: green;
    border-radius: 50px;
    border-width: 0;
    color: white;
    width: 60px;
    height: 60px;
    text-align: center;
}

.confirm-button>i {
    vertical-align: middle;
}

.item-selected-button {
    width: 5px;
    height: 80px;
    vertical-align: middle;
}

.item-selected-button>i{
    object-fit: cover;
}


.item-detail-container {
    vertical-align: middle;
    height: 100%;
}

.item-selected-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    vertical-align: middle;
}

.item-selected-price {
    font-size: 15px;
    font-weight: bold;
    color: green;
    margin: 0;
    vertical-align: middle;
}

.button-close{
    position: relative;
    right: 50%;
}

.mat-dialog-actions {
    position: relative;
    bottom: 0px;
    vertical-align: bottom;
    align-items: center;
}