.fab-container {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100;
    display: inline-block;
    align-items: center;
    -webkit-transition: width 150ms, height 50ms;
}

.fab-container:{
    width: 0;
    height: 0;
}

.fab-container>div {
    display: block;
    align-items: center;
    margin-bottom: 5px;
}

.fab-container>div>button {
    margin-bottom: 17px;
}

.fab-button {
    float: right;
    z-index: 100;
    color: black;
    background-color: #FFC107;
    height: 60px;
    width: 60px;
}


.fab-button:focus {
    outline: none;
    border: 0;
}

.fab-container:focus {
    outline: none;
    border: 0;
}

.fab-text-container{
    z-index: 99;
    background-color: white;
    position: fixed;
    right: 70px;
    bottom: 25px;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px 0px 0px 15px;
    border-color: #FFC107;
}

.fab-text-container p{
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: 5px;
    font-weight: bold;
}