<div *ngIf="total_sum>0" class="fab-container">
  <div class="fab-text-container" (click)="showCart()">
    <p id="money_text">$ {{total_sum}}</p>
  </div>
  <button mat-fab class="fab-button" (click)="showCart()">
    <i class="material-icons">shopping_cart</i>
  </button>
</div>