<div class="card-deck">
  <div class="card shadow-sm" *ngFor="let item of menu_list">
    <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
    <div class="card-body row">
      <div class="col">
        <h5 class="card-title">{{item.title}}</h5>
        <b class="card-text price">$ {{item.price}}</b>
      </div>
      <div class="col">
        <div>
          <div *ngIf="item.selected; else selectedDiv">
            <button class="btn-danger removeButton" type="button" (click)="removeButtonClick(item)">Remove</button>
          </div>

          <ng-template #selectedDiv>
            <input class="input-number" #qntd type="number" placeholder="Quantity" step="1" min="1" value="1">
            <button class="btn-success addButton" type="button" (click)="addButtonClick(item, qntd)">Add</button>
          </ng-template>
        </div>

      </div>
    </div>
  </div>
</div>