.card-deck{
    padding: 15px;
}
.card {
    min-width: 300px;
    max-width: 450px;
    margin-bottom: 10px;
}

.price{
    text-align: start;
    font-weight: bold;
    color: green;
}

.input-number{
    width: 100%;
    text-align: center;
    border-width: 2px;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
}

.input-number[readonly='readonly']{
    background-color: lightgray;
}

.addButton{
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}

.removeButton {
    width: 100%;
    border-radius: 10px;
}